@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --font-manrope: "Manrope", sans-serif;
}

body {
  font-family: var(--font-manrope);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.info {
  background: linear-gradient(126.44deg, #516DEB -1.33%, #D6DDFF 100%);
}

.banner-1{
  background: linear-gradient(126.44deg, #516DEB -1.33%, #D6DDFF 100%);
}

.about-us-bg{
  background: linear-gradient(97.64deg, #2652C2 15.41%, #0E0F17 84.59%);
}


.mask-linear-gradient {
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
