@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --font-manrope: "Manrope", sans-serif;
}

body {
  font-family: var(--font-manrope);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.info {
  background: linear-gradient(126.44deg, #516DEB -1.33%, #D6DDFF 100%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
